@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

.home {
  font-family: 'Roboto', sans-serif;
}

.welcome {
  position: absolute;
  top: 220px;
  padding-left: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 141px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #F8D20D;
}

.welcome-desc {
  color: #003366;
  position: absolute;
  top: 340px;
  padding-left: 64px;
  font-size:15px;
  font-weight: 300;
}

.survey-desc {
  position: absolute;
  top: 490px;
  padding-left: 85px;
  font-size:13px;
  font-weight: 300;
}

.registration-component {
  padding-left: 87px;
  position: absolute;
  top: 520px;
}
.registration-button {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 305px;
  background: #0E569E;
  cursor: pointer;
}

.registration-desc {
  color: white;
  font-style: normal;
  font-weight: 200;
  font-size: 27px;
  cursor: pointer;
}

img {
  position: absolute;
  left: 530px;
  top: 72px;
  /* height:100%;
  width:100%; */
  height:560px;
  width:750px;
}

.registration-desc:hover {
  font-weight: 300;
}

@media screen and (max-width: 530px) {
  .background-img-container {
    visibility: hidden;
  }
  img {
    position: flex;
    height:0px;
    width:0px;
  }
}