@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

.jobboard {
  font-family: 'Roboto', sans-serif;
}

.sidebar {
    position: absolute;
    width: 345px;
    height: 700px;
    left: 0px;
    top: 70px;
    background: #EAEAEA;
    border: 0.5px solid #828282;
    box-sizing: border-box;
}

.edit{
    position: absolute;
    width: 34px;
    height: 23px;
    left: 291px;
    top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-decoration-line: underline;
    color: #4A4141;
    cursor: pointer;
}

.edit:hover{
    font-weight: bold;
  }

.profile-pic {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 100px;
    top: 80px;
    background: #C4C4C4;
    border-radius: 100px;
}

.my-profile-header {
    position: absolute;
    width: 116px;
    height: 29px;
    left: 115px;
    top: 250px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;

    color: #003366;
}

.expertise {
    position: absolute;
    /* width: 185px; */
    height: 23px;
    left: 22px;
    top: 320px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #003366;

}

.location {
    position: absolute;
    /* width: 218px; */
    height: 23px;
    left: 22px;
    top: 357px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #003366;
}

.yoe {
    position: absolute;
    /* width: 266px; */
    height: 23px;
    left: 22px;
    top: 394px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #003366;
}

.min-wage {
    position: absolute;
    /* width: 278px; */
    height: 23px;
    left: 22px;
    top: 431px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #003366;
}

.license {
    position: absolute;
    /* width: 244px; */
    height: 23px;
    left: 22px;
    top: 468px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #003366;

}

.recommended-jobs-header {
    position: absolute;
    width: 277px;
    height: 35px;
    left: 385px;
    top: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;

    color: #003366;
}

.company-logo {
    position: absolute;
    width: 151px;
    height: 138px;
    left: 25px;
    top: 35px;
    cursor: pointer;
}

.company-logo:hover{
    /* width: 1000px; */
    /* height: auto; */
    border: 1px solid gray;
  }

.job-card {
    position: absolute;
    width: 1026px;
    height: 220px;
    left: 385px;
    top: 171px;

    background: #EAEAEA;
    border-radius: 50px;
    cursor: pointer;
}

.job-card:hover{
    /* width: 1050px;
    height: 230px;
    padding: 50px 100px; */
    border: 1px solid gray;
    /* font-weight:bold; */
  }
.job-title {
    position: absolute;
    /* width: 296px; */
    height: 41px;
    left: 200px;
    top: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    cursor: pointer;

    /* identical to box height */

    color: #000000;
}

.job-title:hover{
    font-weight: bold;
    /* width: 1050px;
    height: 230px; */
    /* padding:250px; */
    /* font-weight:bold; */
  }

.job-company {
    position: absolute;
    /* width: 208px; */
    height: 33px;
    left: 200px;
    top: 70px;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;

    /* identical to box height */
    text-align: center;

    color: #000000;
}

.job-company:hover{
    font-weight: bold;
}

.job-desc {
    position: absolute;
    left: 200px;
    /* right: 23.19%; */
    top: 110px;
    /* bottom: 58.89%; */
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #4A4141;
}

.share-profile-button {
    position: absolute;
    /* width: 100px; */
    left: 750px;
    /* right: 5.56%; */
    top: 100px;
    /* bottom: 64.44%; */
    background: #1769BC;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 15px 5px 50px;
    cursor: pointer;
}

.share-profile-button:hover{
    font-weight: bold;
}

.briefcase {
    position: absolute;
    width: 100px;
    left: 727px;
    right: 0px;
    top: -165px;
    bottom: 0px;
    color: white;

    transform: scale(0.3);

}

