@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');
 
.job-card {
    margin: 1em;;
    display: flex;
    flex-direction: row;
    align-items:normal;
    width: 70vw;



    background: #EAEAEA;
    border-radius: 50px; 
    
    
}

.job-card:hover{

    border: 1px solid gray;

  }

.logo-col {
      display:flex;
      align-items:center;
      justify-content: center;
      display: flex;
      padding: 1em;



}

.image-div {
    align-self: center;
    justify-self: center;
    background-color: aquamarine;

}

.company-logo {
    width: 90%;
    height: 90%;
    flex: 2;
}

  .job-desc-col {
      display:flex;
      flex-direction: column;
      align-items: flex-start;
      flex-grow: 3;


  }

  .share-profile-col {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      align-items: center;
      justify-content: center;
  }
 



 
.job-title {

    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    cursor: pointer;
    margin: 0.5em 0em 0em 0em;
    

    

    color: #000000;
}

.job-title:hover{
    font-weight: bold;
  }

.job-company {


    margin: 0em 0em 0em 0em;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    cursor: pointer;

    color: #000000;
}

.job-company:hover{
    font-weight: bold;
}

.job-desc {

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin: 0em 0em 1em 0em;

    color: #4A4141;
}

.share-profile-button {

    width: 9em;
    background: #1769BC;
    border-radius: 0.5em;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 35px; */
    text-align: center;
    color: #FFFFFF;
    padding: 0.125em 0.1em 0.2em 0.1em;
    cursor: pointer;
    margin: 3em;
}

.profile-shared-button {
    width: 9em;
    background: #828282;
    border-radius: 0.5em;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 35px; */
    text-align: center;
    color: #FFFFFF;
    padding: 0.125em 0.1em 0em 0.1em;
    cursor: pointer;
    margin: 3em 3em 1.5em 3em;

}

.share-profile-button:hover{
    font-weight: bold;
}

.profile-shared-button:hover{
    font-weight: bold;
}




/* Tablet */
@media screen and (max-width: 900px) {
    .job-card {
        flex-direction: column;
        width: 55vw;

    }
    .job-desc-col {
        margin-left: 2em;
  
  
    }
    .job-desc-col, .share-profile-col{
        flex-grow: 1;
    }

    .company-logo {
        width: 50%;
        height: 50%;
    }
  }

/* Mobile */
@media screen and (max-width: 530px) {
    .job-card {
        flex-direction: column;
        width: 90vw;

    }

    .company-logo {
        width: 30%;
        height: 30%;
    }


  }
